## Import packages

In [18]:
from pathlib import Path
import torch
from torch.utils.data import Dataset, DataLoader
import pandas as pd
from skimage.io import imread

In [19]:
print(f'torch=={torch.__version__}')
import skimage
print(f'skimage=={skimage.__version__}')
print(f'pandas=={pd.__version__}')

torch==1.12.1+cu102
skimage==0.19.3
pandas==1.4.4

## Necessary paths

In [28]:
project_path = Path.cwd().parent
print(f'project_path = {project_path}')
mri_png_dir = project_path/'data/processed/mri'
print(f'train, val and test MRI images are in {mri_png_dir}')
csv_dir = project_path/'data/processed/csv'
print(f'needed csv files are in {csv_dir}')
modalities_csv = csv_dir/'modalities.csv'

project_path = /home/dk/Desktop/projects/multimodal-healthcare/mri
train, val and test MRI images are in /home/dk/Desktop/projects/multimodal-healthcare/mri/data/processed/mri
needed csv files are in /home/dk/Desktop/projects/multimodal-healthcare/mri/data/processed/csv

## Keep patients  with MRI modality

In [46]:
modalities_df = pd.read_csv(modalities_csv)
# only care about mri modal
modalities_df = modalities_df[['id', 'mri']]
modalities_df['mri'] = modalities_df['mri'].astype(int)
mri_modality = modalities_df[modalities_df['mri'] == 1]
mri_modality

                                        id  mri
4     a58de3fd-f026-902b-55c1-872dc042e0c5    1
8     75425ac1-ff8b-76eb-5b4b-633b619c87c3    1
13    af7d5693-35b4-2ea1-fba8-fb43ca2551ed    1
15    aead835e-66f2-d3b9-099c-c33844a70748    1
20    60530d29-0468-98b7-9bbd-4b3d001f9f67    1
...                                    ...  ...
1146  75257665-718a-053f-bd68-038a3f50e374    1
1147  47a14779-8178-a001-ca12-2d2c96fb9f49    1
1149  7dcecf55-4ddc-8abe-0214-fe4f1d0a69e1    1
1151  c12614ed-2db3-cb59-33c6-be45d445192e    1
1159  f5cfb63e-6110-addb-96f5-8db7ab437921    1

[298 rows x 2 columns]

In [49]:
mri_ids = list(mri_modality['id'])
mri_ids

['a58de3fd-f026-902b-55c1-872dc042e0c5',
 '75425ac1-ff8b-76eb-5b4b-633b619c87c3',
 'af7d5693-35b4-2ea1-fba8-fb43ca2551ed',
 'aead835e-66f2-d3b9-099c-c33844a70748',
 '60530d29-0468-98b7-9bbd-4b3d001f9f67',
 'c679fa5a-8269-3842-70ff-947e832afe2c',
 'fec6d99f-1cfd-f397-e740-e3952410ea2a',
 '1e224d43-3b3b-a903-585d-d10e572b9468',
 '4f112535-f726-3d10-153d-2f658331bb93',
 '76061e2b-4d4c-4115-f7fb-0a9de1582962',
 'e8116fd7-c1a4-ddca-c425-6c63cb9ab2ec',
 '869b6878-2252-18df-0b86-83cf1ad6b915',
 'e7ed3dea-2bc1-ca48-2e6b-ec6236c3a0b0',
 'a11f80dc-e770-e8d3-a08a-6fd36449dbb2',
 '752d1134-a8fb-47e8-b656-0224d4892c8a',
 '57d5b77b-cdb9-fcd5-9a9c-ecacbde4c2d9',
 '7614e7b9-3f0a-7522-02e6-1be4e535094b',
 '99bc67a4-f0e3-23de-06c9-b8d8e49af77d',
 '963b8d68-0855-8b37-45e9-b22286ece7d7',
 '083e1df1-21cc-3885-48c7-56aa760e28ec',
 'f774cb31-e225-d925-87a0-cf71c5d4c42a',
 'c9f4ee85-7e93-e0d0-3342-d5c794e825ff',
 '745a318e-857e-da43-e673-8ce73f417c28',
 'f1792e8b-3270-ff2d-7ded-18aa6006bd89',
 'f75f3740-09ad-00aa-ac43-806c2e8eba27',
 '2a19fd41-040b-e9fb-fb5c-e9095f04922e',
 '2c9023d6-0d59-d7b4-29a0-a7205e8421ff',
 '6f14c177-f3a2-505f-a6fb-a1ee82171293',
 '29fa9249-af17-74e2-b818-e4b7125369e2',
 '10ee5ca5-8e2e-a946-a3c0-66da12637d1d',
 '57c53e54-8f99-3393-8cc3-94e98bfbdc68',
 '9657a386-9cae-a682-354e-7fb613275756',
 '2d4ab7ba-23b9-291d-756b-b22f57a9fafd',
 'd9245904-7128-3bd6-5257-a0a379cf4cbf',
 '39e13c8e-9ac0-092b-ead8-e06d044ee905',
 '5293a3a9-777a-ffdf-d9ec-3439c0115d23',
 'e791826c-265f-f003-9892-0ab7e34f0ab5',
 'af7c31c0-97fb-23f4-62d7-7777910efdb7',
 'd070ef64-48d2-10c7-03e8-f835a1c0551a',
 'd9106be1-b641-ec0a-954d-00b1b941cf81',
 '316cefe8-390d-cc8a-894a-a9d85ade900a',
 '17a023c2-aa70-4c0a-a9e8-43b4a10654d1',
 'd765e4cc-c7ee-ea5e-13b3-bdb028718f85',
 '76137c2e-d405-eeac-9450-6c9b60523a27',
 'dbadcd85-1af3-7b9d-5caf-85a027430b8b',
 'dde9ef22-421a-9032-a5e2-5a833f597325',
 '67e7cc7d-5a84-c9e1-effd-05d6919f1193',
 'bffbf240-b4b4-ac18-619f-e43293088d61',
 'f2952d3b-dbfe-e768-c08e-00e6eac47856',
 '9ae21471-967b-0a5f-2e75-4e023dc622d0',
 'c50ab411-9108-7864-84fe-e5558f8dc74b',
 '44910939-dd58-b5bf-a91c-d1f65c9fca23',
 '0618424e-ed51-3100-ea5c-e46492bfd65b',
 '43cc6308-e358-d70f-58f0-0427e41af30d',
 '9a2b86de-5f75-f2e8-a8de-2a41ed931b06',
 '567b59a2-ac46-af70-e208-38da4e36d176',
 'f10ad800-30f8-e856-31e3-b46dd5833d10',
 '96fb2b30-a2ca-d421-2013-1df237d16848',
 '652aec2e-27d1-b8e6-e09a-3474b9c6bb49',
 '97fc9fd0-d604-1748-bc23-132d48a8018b',
 '80e1ab6a-c294-4fb2-65e0-c7b2a8b7c3c4',
 'bab34d1d-8075-2609-be5e-5676921a79a4',
 '44e2d488-c5c2-b2ce-eb90-00f4d74d7181',
 '9f22bcfc-cbd6-5da5-c46b-050275e8be1e',
 '7555fc65-92b9-16fa-4ab3-8bd699624783',
 '1a1257e4-afc3-1088-d7b6-71f0e4b83359',
 'dcc7c95a-8f4e-74bc-25ad-1372f2ada5fa',
 'bce9584a-db48-47ef-872d-6762f1a8ae01',
 '1b03ceba-207d-21bd-444c-fb8e7eaa3d1d',
 'd76a5009-afb2-63eb-4161-006a2c9332d2',
 '6a790614-93df-66f3-0a54-807cc82d1603',
 'df8940bd-6c9a-11ba-8efd-a82aaf0da4aa',
 '349ff989-11e5-e63a-5e47-dc053e813fb5',
 'e45345e1-ad83-968c-5eb8-8a42d60ce419',
 '0ca7d23f-ac16-3f7a-e3da-f4cc29307867',
 '1ea7f101-1172-99ef-42be-631c01693f14',
 '19951f37-1185-87c9-ba49-f2d90b4bb48f',
 '6aef60d5-4a18-769b-8807-53cc3ae4190a',
 '790ab036-f90f-33c9-84b8-e78cfbe72d28',
 '985ceef1-433d-7ecc-d64d-51b54a9c4e60',
 'a29a4ab5-71fa-909a-7545-00a10374ea7d',
 'cf316fd3-5036-31bf-d8d5-a2db3943c7ea',
 '46331ad0-1a51-cc50-2d29-3dc76191c231',
 '95cb098b-fc43-3efa-4ced-0a80204131b8',
 '0bb4b1f7-4128-89ef-a023-b81379c30f4f',
 '962d8d35-4a97-db14-ca0a-72840696cbcb',
 '022fe2f8-95dd-54c8-7d0a-f05d5a74d39e',
 'a471dad5-4223-50af-e1d0-886bad7d9fc5',
 '1c46e670-6b96-7c00-a116-f8cc702625d1',
 '5d4d652d-2f23-67b3-631e-23bd795ba2e0',
 'dfd65993-f960-eb03-676e-3bf7f7d84077',
 '4263a0fe-1a7e-9f71-2c5d-84202a399a0c',
 '2f455864-f148-9e25-3470-bb6c93b3a4b2',
 '9666547c-c946-fa1d-8b8b-5e5f4dc94e51',
 '1e6811b8-dcc3-ec2b-62f8-ee27752b2c3f',
 'c7217682-6110-1ca5-1992-a17d18afe1a7',
 '14b1aaa2-91ee-c32b-6f84-328278e031a2',
 '0be23458-82b5-7953-b777-7797c9fb1238',
 '54fbe1a2-1edd-d277-81e1-499f8e44cd8c',
 '5c773706-4399-e6e7-ebee-b6268eff61a9',
 '717cf0f2-a1e4-f083-4884-e41cc9633243',
 '02551c0a-12e2-a8d0-d756-408440072685',
 '91301e93-2b44-262a-3f58-b6bf456a77b6',
 '6d4eafa7-0bd6-66dd-e80d-9819bb1b969f',
 '5f9c5706-7bf3-741e-0fba-adb564313f4f',
 '8f252dd6-565e-2943-fa6e-0c0558866d68',
 'b8dd1798-beef-094d-1be4-f90ee0e6b7d5',
 'e6c1b222-d62a-c98c-1651-07a9fe9328d1',
 'e8dcbba9-5cb7-99d7-9bca-eb6772b36df2',
 'a655d506-2a71-2d18-d946-b25429537347',
 'dcfa5e25-48b5-8f5f-0f95-1c9f3da13565',
 '383de2de-069f-2600-8c6c-e52ef4cb0011',
 '201c98c9-d52e-c6d5-b32c-33f6df5195e7',
 'e736fc98-c1bc-b5c4-e932-87a025ac12cd',
 '230d6788-d023-3373-908c-f1cbb03b882e',
 '6587b036-1716-539b-88de-c4198ff108ba',
 '5ae4b2f4-248a-5e78-12ef-427f188c1022',
 '9cfba87e-22b9-e3a3-b383-afb1dc56557f',
 '967d5226-f8c4-60a8-b882-6ef803af88a6',
 'dc58c60e-5862-4a0a-cd41-cbcbd18bb2dc',
 '9012e60e-30af-fe6b-19f8-73a19d60199e',
 'aefe9716-6072-791e-c0f7-8bb2d1227915',
 '68c28636-d75e-3058-a607-1a8825f8fb16',
 '844a37ff-ce26-6338-fd6a-0bc1e925a702',
 '0c8ad7c0-b403-98d1-d6c9-ff1dbbce7d7c',
 '521629ec-a33c-b04f-f7fe-79bf76998bd2',
 '13d09d21-b7a7-6e67-6c50-2f2d935910c3',
 '09a986b8-7b89-b7b5-caf8-8494bb7a9379',
 '14ffb3e7-511d-46d5-dbb4-edef8cd15fe6',
 '404175bd-6673-43bb-2e35-9644e400809b',
 'b6bf9086-2e26-1477-3db6-bdf27dea42b3',
 'fd83348f-f088-3a44-b8cc-faa955eca3a1',
 '91fdf2a2-b876-667e-5ef8-ba22b4af13a1',
 'daabad34-5aed-dcec-9934-5921e3d505ff',
 'fbb52aca-db28-d68a-1216-b59790d0231f',
 '57464d02-4d80-672d-1b5b-55cb0081db2e',
 '90a3627b-5b31-a73e-9fed-5328da61cc88',
 'b486bd29-17f3-ae14-809a-6ae23325a121',
 '7932e867-ea70-048c-bcf8-04854b31e5e0',
 '9186a119-ba9c-2b11-bbf4-81b6dff3a636',
 '98d31653-60f5-0582-09ce-8398fda41b4c',
 '17de5d12-56b3-0e74-cf61-8c1bc89912de',
 '6638cfba-8168-47a9-6723-ddef232a8ef5',
 '1ee67ec1-cd72-b672-d750-3a3b73967f34',
 'a158e1f0-a908-e99f-5ee1-add4470ed704',
 'bf40d134-5782-7dc1-9c9c-6ce11242e7af',
 '06d43bcb-8322-3c2b-40f1-189b2852b5ab',
 '83baa0e9-929e-89bb-2918-5c256f0e4ddc',
 'ba9485fd-fcee-dace-0843-b8894ad33b8f',
 '0f1c1042-f103-e85b-1a7a-03442861947d',
 '48b08a27-b7de-b0e7-a761-f3c6b78cad66',
 '1d221bc0-a2b1-95cb-266d-4f342bb2c64b',
 'aee205cf-57bc-a73a-0820-52aa481986c6',
 '1a3f1fa5-4187-da10-de13-8497dee5e6a8',
 '6f354bd3-4e29-dfda-ace7-56d72b5a6574',
 'c2a6363a-1bfa-94d8-6203-6aadfd1d3653',
 '5adc7435-4c79-8612-abfe-6365ee023b24',
 '7ba737ce-c432-e242-9849-e384d6fa618e',
 'f38b3dda-fb68-bd8d-0ed7-7a2369f87698',
 '4c1eb826-182d-3e7b-f680-139176cbb74a',
 'b40c10dd-696f-f1a7-e6b2-21242214141b',
 'a1e1261c-a48c-42f7-ec01-10ef16340c0e',
 '06cc033a-f09a-0fb2-4a1a-4c4d99d88839',
 'a8acc8f0-9730-8483-32ec-f335166cee58',
 '618fa951-e8f3-8d5d-ba2c-58dbda30f242',
 '66ea462b-2b29-e428-9568-9fa59f881e41',
 '639664bb-f165-17bc-a731-1a09bd9bc0b2',
 '568e60b4-6924-f74f-e7e7-816e7d64975e',
 '9fcd02e7-feed-1c90-eef8-7a0556a51ebb',
 'dfad1eca-b35d-480c-1b33-9a8b19ba6d95',
 '523f4150-951a-633c-acb8-a6c9cc311d07',
 '0122b006-83c5-b1fa-cb1d-a75934d9aef1',
 'd13dfb91-6469-4b21-99f7-81b108792c11',
 'cd8ba70e-b8aa-ac3f-6498-cdcc8f22e19e',
 'e24c868d-b079-ae4d-60e6-269fe98bbdf9',
 '0e564f63-3946-ebcc-c89b-260ec4c7ceff',
 '30fd2d55-8c78-bbc7-67a1-2d2ead91606e',
 '68c6bb41-0ce1-0e78-929d-cfe07f65db03',
 'c8c62d25-daa9-15ce-bccf-4035c7d784ef',
 '65a9ca58-4c32-2c7c-b8e1-eebdcc46eb4d',
 'b7492dd9-28e2-cf29-16bb-a104fb6b0807',
 '67c9b7b7-9e3b-403e-d2da-59ab04e98a75',
 '2051c6c3-80bb-39b4-dd1a-52a10229d71a',
 '8db378e0-9e07-8426-fa88-b431378f5fb9',
 'f1596f42-5688-d406-519e-2b720e3314f3',
 '6dc8bd6b-e2a8-92bf-613d-8b477eb87d7c',
 '4f0ba9a8-2772-53a4-747f-9a7ba10166f6',
 '182c006c-b98a-0b2c-39f9-ac12d2ac732b',
 'f6eb72f4-e33f-6784-9cd8-d5dece138acc',
 '759007e0-2ff8-0360-e549-5002b5bcb335',
 '0074596f-5fd0-7965-db0f-cce71c81567d',
 'ff02f656-69fd-efe9-0402-8daa260e54a7',
 'a6b96f5b-3534-1719-47af-33a782aa14ea',
 'b4a9a663-7fdc-9c91-7a4b-7ac14884ff5d',
 '91389d03-8bd4-fd4c-77d1-082829031e79',
 'e4aa3da5-5600-6038-9b92-a93278fbe3ed',
 'b989cac9-7c42-0607-5e6f-ac98f87c698f',
 '48828e8b-9f1a-7500-aefa-6f96877f92f2',
 '7cde3e13-f6a6-45d5-82d8-b9db16d86b5f',
 '47ee0f48-5e53-0299-7cfe-5519e4bf88d2',
 '808e8725-b8b0-d64d-d3d0-1f54666091c5',
 '53931443-cc8d-9ac0-9ce8-8f3cc30712ab',
 '39f25659-e79f-43e0-f3a9-8b78f2a9173e',
 '0b73e9c9-18c0-5c0e-c5d5-95d7ca56c050',
 'e57b5f39-e55b-117f-8990-b7b3c8496c68',
 'a2710800-5a46-ae6b-0e28-f3706d55c841',
 'd02b4998-d49c-26f7-2d16-dd5aa4a545a2',
 '4e7e5bf8-2823-8ec1-fe37-eba9c9d69463',
 '8dd6f098-3aa1-fb36-d569-3e326eea99be',
 'a54217e6-9930-bb28-95dc-73af72fb89b7',
 'f12ff989-9593-71f1-66e6-502ec9b3fecd',
 '87636c05-cbaf-1ce9-5405-9e5aaf4a2507',
 'c8fa0ec8-9a17-1277-3671-770900c37ea7',
 '2dd0e748-a4a5-3632-5d15-e60a08400c4e',
 '94fa95fa-c94a-b150-0a52-6bc1c3e49d27',
 '80f28bab-c204-0a96-ea17-ab2b383fa9c2',
 '2e3c02c5-8180-b66a-a783-95067b191fa0',
 'c04befa5-e835-3f4c-2b90-88da0af27c0d',
 '99c3e055-5358-ccb1-84e6-d9ea0804fc33',
 '274a651f-7901-d2fc-511a-cfa1dd835fbf',
 '1a82483d-7eb2-d5e0-1e1f-398ba129b18b',
 'ac2229c9-b9b3-e5a0-e5a2-81f94861e0d5',
 '8fd96f38-393a-b5bd-d67b-d8338ae9da5a',
 '146bd66b-7fd2-eb4e-7e57-44403dcb2b5b',
 'ec11d6ac-4101-a048-79a2-d85a919efb46',
 '1e0f38cc-b327-3fd9-2601-b4b5c1da8fed',
 'b54036e6-67f8-aa64-435b-a4a80bcb2a54',
 '941a1680-7edc-dd8c-e525-36ae4cf94025',
 'b23528b7-538f-4397-5af0-017eccfe4129',
 '5a676f76-34bb-39a9-87ed-e03e5137b098',
 '8f61d438-d822-b7b0-2184-8a0762fc11f3',
 '08acefb1-271e-01d2-1bb6-aae9f65dbb42',
 '14e884a7-dc93-7909-9585-2857c6eb29e2',
 '658ed92e-8469-15cb-6083-3ca12e60ad40',
 '39533e4a-f6f2-a144-ab37-6500460250dc',
 'c77a701a-9a5c-645d-c792-020cdcd05dec',
 '94a89c96-e03e-aa8d-adc9-09af0131e0bd',
 '9ef7f456-b16c-92f3-e4c5-a13ca36ee34a',
 '44185bdd-4277-d54c-de1f-2ce4fadddc11',
 '78f7b5a3-8f3d-43bb-2b48-0b32292fd239',
 '6a3aba4d-6c8c-1e94-bac6-4e1270195222',
 '09680580-ea02-56a0-f8c2-4c707e8c5c36',
 '2d5baef5-24fc-58cc-af18-6838f1f87e4d',
 'fbb75ebb-8b10-2a28-5634-3b8f4da7442b',
 '031a8ae5-e01e-bcc9-f83f-874cb909b641',
 '5b6a30d7-0d95-32b0-5e72-5a086d12e550',
 'fae3c18e-097d-97a7-3b5f-57fe7c8b0fa3',
 '8533c6f6-bcf3-4fc1-da54-55e6f3981660',
 'efa65fbc-dc61-8ae7-2d8c-785f9468f5c3',
 'e522c2e3-dd23-8195-f693-3f94c32e448e',
 '3e710987-5984-f196-0f2e-e4f2f9b6e817',
 '5bb4f528-2e34-e116-9a6c-e142d774b18f',
 '797a943a-e298-d2de-f8d1-63956a9e3920',
 '76ed34f3-0099-7cda-a01a-7f1309d0ed38',
 '32c723fe-76a9-71c0-4de4-f5b630d41532',
 'adbfcd68-8048-4749-f314-766706471073',
 '143ae8e8-5c70-bd3b-c37d-27d8599f5aa3',
 '30b38cfe-f7f4-f92e-6738-f4b08f8595ff',
 '32cde619-cb40-01e8-4882-1d2252bd41a6',
 '11632f65-eb91-9b28-a091-bbd004f06438',
 'b5883a70-2ee7-8cc5-174a-2c813f15d48c',
 'f9798758-f5d5-a8f7-e5bf-aba9cc3aa3cd',
 '39cd3e36-0e6a-5e24-a932-4974f267b294',
 'c9549ef4-bd8a-c607-0387-d4e414d53860',
 '66957541-fde5-4b8d-7031-61cacbeb9360',
 '5442450f-35c1-85e9-3b93-e7047cd9813e',
 '7edbfb43-e906-2e27-f6e6-b1a4d096b9b0',
 'b13d29bf-d9c7-be1f-b14d-c49810340b93',
 '6cb86432-5f9e-6f74-2289-a8295e84c64e',
 'a30e851b-fdcb-9d4e-6c55-38656f264a3b',
 'e2513f05-a4e9-dd92-f459-5e93f7e03bc4',
 'e55c356f-a8d5-4b08-4c89-dac6920bfb88',
 'b85a6420-000a-9424-d396-4cd281166715',
 '73b7bc75-0b09-389d-299c-2e3a0c68a116',
 '6d2c3805-d80e-35d6-fe19-244cc513999f',
 '94938ad3-7ba9-dc6e-0948-714bc1f29546',
 '2ace6fc1-10d4-dffd-0ad7-0ff8cef81bff',
 '6fa48f63-9c86-6e5b-221e-4ce3e298fc3a',
 '395ad077-23de-3fa5-7efa-474b36b14e13',
 '9a764daa-4840-1840-7f5c-bbde2c4b91ab',
 '36d8e0a3-b81e-89da-71ef-1a2d7a6838d9',
 '8aff769a-72cc-c49f-21de-987e7c261349',
 '972f6a59-3921-36bc-64bb-253d6241748b',
 'edf4f9f5-0027-62db-1948-62676e9fbdc9',
 '95e41dbd-bcaa-6b59-b142-0d8b5826c2d2',
 'f483b8e2-34c3-0de3-7bfa-ea51fcc3ba66',
 'ea4088e3-19a1-51ba-ec26-5c3866e0329d',
 '8583afc5-2759-57f7-5b6b-90f69659f48f',
 '77d14fbb-7dc9-4f0a-6061-2d69adac1c64',
 '07cd572d-6bd1-6e3c-64d6-5959cd2f756d',
 '1073b155-eeeb-51f1-6cda-660f97ecf02b',
 '4a1a224f-54d6-66f1-3755-4c8489f2a5de',
 '4a257e6f-4d18-f89f-b20d-065d4bd05f65',
 '75257665-718a-053f-bd68-038a3f50e374',
 '47a14779-8178-a001-ca12-2d2c96fb9f49',
 '7dcecf55-4ddc-8abe-0214-fe4f1d0a69e1',
 'c12614ed-2db3-cb59-33c6-be45d445192e',
 'f5cfb63e-6110-addb-96f5-8db7ab437921']

## Process output conditions

In [21]:
train_df = pd.read_csv(csv_dir/'train_patients.csv')
# only keep necessary columns
cols = ['patient', 'heart_failure', 'coronary_heart', 'myocardial_infarction', 'stroke', 'cardiac_arrest']
train_df = train_df[cols]
train_df

,patient,heart_failure,coronary_heart,myocardial_infarction,stroke,cardiac_arrest
0,c2a58661-9352-1929-fc29-c51fad4c6950,True,False,False,False,False
1,adf80417-f70b-2fe8-a2da-0fdcf70b2509,False,True,False,True,False
2,6cb86432-5f9e-6f74-2289-a8295e84c64e,False,True,False,True,False
3,b8e7ebe2-ef2c-5562-7390-e216389cdba8,False,True,False,True,False
4,fbb75ebb-8b10-2a28-5634-3b8f4da7442b,True,True,False,False,False
...,...,...,...,...,...,...
761,9996a530-4e4a-3e49-ff16-d52837fd3b49,True,False,False,True,False
762,e7a9a523-6df7-6fcb-9496-4380f13c9b71,False,False,False,False,True
763,79ff8a86-85fb-6ff3-1c2e-6b7a2d04d240,False,False,False,False,True
764,13ff227e-4038-4634-2eb2-e64dc710c9b3,False,False,False,True,False
765,989fe2d6-8aeb-4d11-069f-f951a5102184,False,True,True,False,False

Embed `False` and `True` into `0` and `1`

In [22]:
labels = ['heart_failure', 'coronary_heart', 'myocardial_infarction', 'stroke', 'cardiac_arrest']
train_df[labels] = train_df[labels].astype(int)
train_df

,patient,heart_failure,coronary_heart,myocardial_infarction,stroke,cardiac_arrest
0,c2a58661-9352-1929-fc29-c51fad4c6950,1,0,0,0,0
1,adf80417-f70b-2fe8-a2da-0fdcf70b2509,0,1,0,1,0
2,6cb86432-5f9e-6f74-2289-a8295e84c64e,0,1,0,1,0
3,b8e7ebe2-ef2c-5562-7390-e216389cdba8,0,1,0,1,0
4,fbb75ebb-8b10-2a28-5634-3b8f4da7442b,1,1,0,0,0
...,...,...,...,...,...,...
761,9996a530-4e4a-3e49-ff16-d52837fd3b49,1,0,0,1,0
762,e7a9a523-6df7-6fcb-9496-4380f13c9b71,0,0,0,0,1
763,79ff8a86-85fb-6ff3-1c2e-6b7a2d04d240,0,0,0,0,1
764,13ff227e-4038-4634-2eb2-e64dc710c9b3,0,0,0,1,0
765,989fe2d6-8aeb-4d11-069f-f951a5102184,0,1,1,0,0

Check if any values are `NaN`

In [23]:
check_nan = train_df.isnull().values.any()
 # printing the result
print(check_nan)

False

In [24]:
train_df['label']= train_df[labels].values.tolist()
train_df

,patient,heart_failure,coronary_heart,myocardial_infarction,stroke,cardiac_arrest,label
0,c2a58661-9352-1929-fc29-c51fad4c6950,1,0,0,0,0,"[1, 0, 0, 0, 0]"
1,adf80417-f70b-2fe8-a2da-0fdcf70b2509,0,1,0,1,0,"[0, 1, 0, 1, 0]"
2,6cb86432-5f9e-6f74-2289-a8295e84c64e,0,1,0,1,0,"[0, 1, 0, 1, 0]"
3,b8e7ebe2-ef2c-5562-7390-e216389cdba8,0,1,0,1,0,"[0, 1, 0, 1, 0]"
4,fbb75ebb-8b10-2a28-5634-3b8f4da7442b,1,1,0,0,0,"[1, 1, 0, 0, 0]"
...,...,...,...,...,...,...,...
761,9996a530-4e4a-3e49-ff16-d52837fd3b49,1,0,0,1,0,"[1, 0, 0, 1, 0]"
762,e7a9a523-6df7-6fcb-9496-4380f13c9b71,0,0,0,0,1,"[0, 0, 0, 0, 1]"
763,79ff8a86-85fb-6ff3-1c2e-6b7a2d04d240,0,0,0,0,1,"[0, 0, 0, 0, 1]"
764,13ff227e-4038-4634-2eb2-e64dc710c9b3,0,0,0,1,0,"[0, 0, 0, 1, 0]"
765,989fe2d6-8aeb-4d11-069f-f951a5102184,0,1,1,0,0,"[0, 1, 1, 0, 0]"

Only keep the `patient` and the `label` columns

In [25]:
train_patient_label_df = train_df[['patient', 'label']]
train_patient_label_df

                                  patient            label
0    c2a58661-9352-1929-fc29-c51fad4c6950  [1, 0, 0, 0, 0]
1    adf80417-f70b-2fe8-a2da-0fdcf70b2509  [0, 1, 0, 1, 0]
2    6cb86432-5f9e-6f74-2289-a8295e84c64e  [0, 1, 0, 1, 0]
3    b8e7ebe2-ef2c-5562-7390-e216389cdba8  [0, 1, 0, 1, 0]
4    fbb75ebb-8b10-2a28-5634-3b8f4da7442b  [1, 1, 0, 0, 0]
..                                    ...              ...
761  9996a530-4e4a-3e49-ff16-d52837fd3b49  [1, 0, 0, 1, 0]
762  e7a9a523-6df7-6fcb-9496-4380f13c9b71  [0, 0, 0, 0, 1]
763  79ff8a86-85fb-6ff3-1c2e-6b7a2d04d240  [0, 0, 0, 0, 1]
764  13ff227e-4038-4634-2eb2-e64dc710c9b3  [0, 0, 0, 1, 0]
765  989fe2d6-8aeb-4d11-069f-f951a5102184  [0, 1, 1, 0, 0]

[766 rows x 2 columns]

Only keep patients with MRI modality

In [54]:
train_mri_patients = train_patient_label_df[train_patient_label_df['patient'].isin(mri_ids)] 
train_mri_patients

                                  patient            label
2    6cb86432-5f9e-6f74-2289-a8295e84c64e  [0, 1, 0, 1, 0]
4    fbb75ebb-8b10-2a28-5634-3b8f4da7442b  [1, 1, 0, 0, 0]
9    d76a5009-afb2-63eb-4161-006a2c9332d2  [0, 0, 0, 0, 1]
10   967d5226-f8c4-60a8-b882-6ef803af88a6  [0, 0, 0, 1, 0]
12   a2710800-5a46-ae6b-0e28-f3706d55c841  [0, 0, 0, 0, 0]
..                                    ...              ...
717  e7ed3dea-2bc1-ca48-2e6b-ec6236c3a0b0  [0, 0, 0, 0, 0]
721  30fd2d55-8c78-bbc7-67a1-2d2ead91606e  [0, 0, 0, 0, 0]
724  869b6878-2252-18df-0b86-83cf1ad6b915  [0, 0, 0, 0, 0]
740  af7d5693-35b4-2ea1-fba8-fb43ca2551ed  [0, 0, 0, 0, 0]
748  f2952d3b-dbfe-e768-c08e-00e6eac47856  [1, 0, 0, 1, 0]

[179 rows x 2 columns]

In [57]:
train_mri_patients.to_csv(csv_dir/'train_mri_patients.csv')

## Get the paths of the MRI `.png` files and give them the right output

Loop through `train_patient_label_df` dataframe. For each patient, find the paths to the MRI `.png` images by his id

In [26]:
train_mri_dir = mri_png_dir/'train'
train_png_paths = train_mri_dir.glob('*')

In [27]:
train_png_paths = list(train_png_paths)
len(train_png_paths)

20470

Reminder from `data_process.ipynb`: There are only 178 patients in the train split, 62 patients in the val split and 57 patients in the test split that have MRI brain scans. For a patient with a MRI scan, we chose 115 MRI slices => each patient has 115 MRI png images, e.g. 20470 / 178 = 115

In [10]:
def find_mri_png_paths(patient_id: str, mri_png_paths: list) -> list[Path]:
    """
    For each patient, find the corresponding paths to the MRI .png images
    and return them in a list
    """
    res = []
    for path in mri_png_paths:
        if patient_id in path.name:
            res.append(path)
    return res

In [21]:
train_png_mri_label = []
for i, row in train_patient_label_df.iterrows():
    patient_id = row['patient']
    label = row['label']
    png_paths = find_mri_png_paths(patient_id, train_png_paths)
    for png_path in png_paths:
        train_png_mri_label.append((png_path, label))

In [28]:
train_mri_df = pd.DataFrame(train_png_mri_label, columns=['mri_png_path', 'label'])
train_mri_df.to_csv(csv_dir/'train_mri.csv')

## Do the same process above for the val split

In [7]:
val_df = pd.read_csv(csv_dir/'valid_patients.csv')
# only keep necessary columns
cols = ['patient', 'heart_failure', 'coronary_heart', 'myocardial_infarction', 'stroke', 'cardiac_arrest']
val_df = val_df[cols]
labels = ['heart_failure', 'coronary_heart', 'myocardial_infarction', 'stroke', 'cardiac_arrest']
val_df[labels] = val_df[labels].astype(int)
val_df['label']= val_df[labels].values.tolist()
val_df

,patient,heart_failure,coronary_heart,myocardial_infarction,stroke,cardiac_arrest,label
0,94938ad3-7ba9-dc6e-0948-714bc1f29546,0,0,0,1,0,"[0, 0, 0, 1, 0]"
1,8d3a78f7-944e-2a23-f358-a5ce6e1be86e,1,0,0,0,0,"[1, 0, 0, 0, 0]"
2,7b68ef38-85c5-3f4f-ae44-e5bb70b52962,1,0,0,0,0,"[1, 0, 0, 0, 0]"
3,d8b40876-f928-6f5e-a646-35e0a3fcafdf,0,1,0,1,0,"[0, 1, 0, 1, 0]"
4,df30e63f-374a-277a-83e7-37458e8d5261,1,0,0,0,0,"[1, 0, 0, 0, 0]"
...,...,...,...,...,...,...,...
251,5a676f76-34bb-39a9-87ed-e03e5137b098,0,1,1,0,0,"[0, 1, 1, 0, 0]"
252,2a8f230a-281c-8863-9271-a0f11c37a3eb,0,1,1,0,0,"[0, 1, 1, 0, 0]"
253,33a35db9-44ca-910d-863c-30a025d7ea1f,1,0,0,0,0,"[1, 0, 0, 0, 0]"
254,6e74ab3f-cc95-6122-61f5-870c538ee25d,0,1,0,1,0,"[0, 1, 0, 1, 0]"
255,8a4a0bd8-71cc-82d0-42fd-6d90925e1e9d,1,0,0,0,0,"[1, 0, 0, 0, 0]"

In [8]:
val_patient_label_df = val_df[['patient', 'label']]
val_patient_label_df

                                  patient            label
0    94938ad3-7ba9-dc6e-0948-714bc1f29546  [0, 0, 0, 1, 0]
1    8d3a78f7-944e-2a23-f358-a5ce6e1be86e  [1, 0, 0, 0, 0]
2    7b68ef38-85c5-3f4f-ae44-e5bb70b52962  [1, 0, 0, 0, 0]
3    d8b40876-f928-6f5e-a646-35e0a3fcafdf  [0, 1, 0, 1, 0]
4    df30e63f-374a-277a-83e7-37458e8d5261  [1, 0, 0, 0, 0]
..                                    ...              ...
251  5a676f76-34bb-39a9-87ed-e03e5137b098  [0, 1, 1, 0, 0]
252  2a8f230a-281c-8863-9271-a0f11c37a3eb  [0, 1, 1, 0, 0]
253  33a35db9-44ca-910d-863c-30a025d7ea1f  [1, 0, 0, 0, 0]
254  6e74ab3f-cc95-6122-61f5-870c538ee25d  [0, 1, 0, 1, 0]
255  8a4a0bd8-71cc-82d0-42fd-6d90925e1e9d  [1, 0, 0, 0, 0]

[256 rows x 2 columns]

In [59]:
val_mri_patients = val_patient_label_df[val_patient_label_df['patient'].isin(mri_ids)]
val_mri_patients.to_csv(csv_dir/'val_mri_patients.csv')

In [12]:
val_mri_dir = mri_png_dir/'val'
val_png_paths = val_mri_dir.glob('*')
val_png_paths = list(val_png_paths)
print(len(val_png_paths))

val_png_mri_label = []
for i, row in val_patient_label_df.iterrows():
    patient_id = row['patient']
    label = row['label']
    png_paths = find_mri_png_paths(patient_id, val_png_paths)
    for png_path in png_paths:
        val_png_mri_label.append((png_path, label))

7130

In [13]:
val_mri_df = pd.DataFrame(val_png_mri_label, columns=['mri_png_path', 'label'])
val_mri_df.to_csv(csv_dir/'val_mri.csv')

## For the test split

In [15]:
test_df = pd.read_csv(csv_dir/'test_patients.csv')
# only keep necessary columns
cols = ['patient', 'heart_failure', 'coronary_heart', 'myocardial_infarction', 'stroke', 'cardiac_arrest']
test_df = test_df[cols]
labels = ['heart_failure', 'coronary_heart', 'myocardial_infarction', 'stroke', 'cardiac_arrest']
test_df[labels] = test_df[labels].astype(int)
test_df['label']= test_df[labels].values.tolist()
test_patient_label_df = test_df[['patient', 'label']]
test_patient_label_df

                                  patient            label
0    1c3f1813-3502-df08-73f1-29806fc52373  [0, 0, 0, 1, 0]
1    5bb4f528-2e34-e116-9a6c-e142d774b18f  [0, 0, 0, 1, 1]
2    6aaf5ffe-502a-2c60-9eab-80c90f705926  [0, 1, 0, 1, 0]
3    bf40d134-5782-7dc1-9c9c-6ce11242e7af  [0, 0, 0, 0, 0]
4    39cdd1d4-37fc-8ca4-9cb6-e827bab46da4  [0, 0, 0, 0, 1]
..                                    ...              ...
251  523f4150-951a-633c-acb8-a6c9cc311d07  [0, 0, 0, 0, 0]
252  850c66af-7703-a9b0-1504-9dad84261b19  [0, 0, 0, 1, 0]
253  754aaa43-09df-dab5-3cf3-c8e021cb696e  [0, 0, 0, 1, 0]
254  8db378e0-9e07-8426-fa88-b431378f5fb9  [0, 0, 0, 0, 0]
255  0852bff5-8052-f0e1-ce2f-a2b66bd3b60b  [0, 0, 0, 1, 0]

[256 rows x 2 columns]

In [60]:
test_mri_patients = test_patient_label_df[test_patient_label_df['patient'].isin(mri_ids)]
test_mri_patients.to_csv(csv_dir/'test_mri_patients.csv')

In [16]:
test_mri_dir = mri_png_dir/'test'
test_png_paths = test_mri_dir.glob('*')
test_png_paths = list(test_png_paths)
print(len(test_png_paths))

test_png_mri_label = []
for i, row in test_patient_label_df.iterrows():
    patient_id = row['patient']
    label = row['label']
    png_paths = find_mri_png_paths(patient_id, test_png_paths)
    for png_path in png_paths:
        test_png_mri_label.append((png_path, label))

6555

In [17]:
test_mri_df = pd.DataFrame(test_png_mri_label, columns=['mri_png_path', 'label'])
test_mri_df.to_csv(csv_dir/'test_mri.csv')